header a {
    text-decoration: none;
    color: black;
  }

.checked {
    color: orange;
}

.card .list-group .list-group-item a {
    text-decoration: none;
    color: black;
}

.card .list-group .list-group-item:hover {
    background-color: rgba(206, 206, 206, 0.753);
    transition-delay: 0.2s;
}